.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container > * {
  margin: 0.2rem 1rem;
}

.container {
  background-color: #e4dcdc;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
}

.emptySpaceNav {
  height: 6rem;
  background-color: #e4dcdc;
}