.container {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    /* text-align: center; */
}

.postBox {
    width: 50%;
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #f5f8fa;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #ff0000; /* Red border */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.postAuthor {
    padding-left: 1rem;
    font-weight: bold;
    color: #252424;
    text-align: left;
}

.postText {
    color: #7a7777;
    font-style: italic;
}