ul {
    list-style-type: none
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
}

.postBox {
    max-width: 20rem;
    list-style-type: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #f5f8fa;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postBox:hover {
    /* Styles for focused post */
    border: 1px solid #ff0000; /* Red border */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    z-index: 1; /* Ensure the focused post is above other content */
  }

.postAuthor {
    padding-left: 1rem;
    font-weight: bold;
    color: #252424;
    text-align: left;
}

.postText {
    color: #7a7777;
    font-style: italic;
    font-weight: normal ;
}

@media only screen and (max-width: 770px) {
    .postBox {
        max-width: 100%;
        margin: 0 3;
    }
}